@media (max-width: 1920px) {
  header.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    nav .container-fluid {
      display: flex;
      width: 100%;
      .navigation {
        .fa-bars {
          display: none;
        }
      }
      #my-form {
        width: 80%;
        display: flex;
        input {
          width: 80%;
        }
        button {
          width: 10%;
          font-size: 20px;
        }
      }
    }
    aside.my-showcase {
      width: 100%;
      display: flex;
      padding-left: 500px;
      justify-content: space-between;
      button {
        width: 15rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  header.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    nav .container-fluid {
      display: flex;
      width: 100%;
      flex-direction: column;
      .navigation {
        display: flex;
        align-items: center;
        gap: 30px;
        .fa-bars {
          font-size: 30px;
          display: block;
        }
        #checkdropdown:checked {
          article.container {
            left: 0;
          }
        }
        .navbar-brand {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      #my-form {
        width: 80%;
        display: flex;
        justify-content: center;
        input {
          width: 50%;
          margin-left: 300px;
        }
        button {
          width: 20%;
          font-size: 20px;
        }
      }
    }
    aside.my-showcase {
      width: 100%;
      display: flex;
      padding-left: 200px;
      gap: 20px;
      justify-content: center;
    }
  }
}
@media (max-width: 700px) {
  header.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    nav .container-fluid {
      display: flex;
      width: 100%;
      flex-direction: column;
      .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      #my-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          width: 50%;
        }
        button {
          width: 10%;
          font-size: 7px;
        }
      }
    }
    aside.my-showcase {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h3 {
        font-size: 12px;
      }
      button {
        width: 10rem;
      }
    }
  }
}
@media (max-width: 500px) {
  header.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    nav .container-fluid {
      display: flex;
      width: 100%;
      flex-direction: column;
      .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      #my-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          width: 50%;
        }
        button {
          width: 20%;
          font-size: 7px;
        }
      }
    }
    aside.my-showcase {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h3 {
        font-size: 12px;
      }
      button {
        width: 10rem;
      }
    }
  }
}

@media (max-width: 1920px) {
  article.container {
    width: 400px;
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 100px;
    padding: 30px 20px;
    background-color: whitesmoke;
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      p {
        width: 70%;
        word-wrap: wrap;
      }
    }
    .books {
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      .books-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px gray;
        padding: 20px;
        align-items: center;
        .my-icons {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  article.container {
    width: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    transition: all ease-in-out 0.4s;
    top: 0;
    background-color: whitesmoke;
    padding: 50px 20px;
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      p {
        width: 100%;
        font-size: 10px;
      }
    }
    .books {
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      .books-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px gray;
        padding: 20px;
        h3 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  article.container {
    width: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    transition: all ease-in-out 0.4s;
    top: 0;
    background-color: whitesmoke;
    padding: 50px 20px;
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      p {
        width: 100%;

        font-size: 8px;
      }
    }
    .books {
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      .books-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px gray;
        padding: 20px;
        h3 {
          font-size: 9px;
        }
        i {
          font-size: 10px;
        }
        p {

          font-size: 7px;
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  section {
    width: 100%;
    // background-color: black;
    min-height: 89.4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .container-fluid {
      margin: 0;
      width: 80%;
      padding: 30px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .card {
        width: 20rem;
        height: 800px;
        .card-body {
          
          h5,p {
            margin-top: -12px;
          }
          .btns {
            width: 100%;
            display: grid;
            gap: 5px;
            grid-template-columns: 1fr 1fr;
           .read {
            grid-column: span 2;
           } 
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  section {
    width: 100%;
    // background-color: black;
    min-height: 89.4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .container-fluid {
      margin: 0;
      width: 80%;
      padding: 30px;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      .card {
        width: 15rem;
        .card-body {
          h5,p {
            margin-top: -12px;
          }
          .btns {
            width: 100%;
            display: grid;
            gap: 5px;
            a {
              font-size: 8px;
            }
            grid-template-columns: 1fr 1fr;
           .read {
            grid-column: span 2;
           } 
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  section {
    width: 100%;
    // background-color: black;
    min-height: 89.4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .container-fluid {
      margin: 0;
      width: 80%;
      padding: 30px;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      .card {
        width: 15rem;
        height: 650px;
        .card-body {
          h5,p {
            margin-top: -12px;
          }
          .btns {
            width: 100%;
            display: grid;
            gap: 5px;
            a {
              font-size: 8px;
            }
            grid-template-columns: 1fr 1fr;
           .read {
            grid-column: span 2;
           } 
          }
        }
      }
    }
  }
}
@media (max-width: 1920px) {
  footer#pagination-parent {
    width: 100%;
    display: none;
    justify-content: center;
      
  }
  footer#pagination-parent.true {
    width: 100%;
    display: flex;
    justify-content: center;
      
  }
}
@media (max-width: 1920px) {
  section.modal {
    background-color: rgba(0, 0, 0, 0.861);
    position: fixed;
    transform: translateX(2000px);
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: end;
    z-index: 99999;
    transition: all ease-in-out 0.4s;
    aside.container-fluid {
      width: 40%;
      min-height: 100vh;
      background-color: white;
      padding: 20px 40px;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      .modal-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 30px;
          color: black;
        }
      }
      .modal-body {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        img {
          width: 30%;
        }
        p {
          width: 90%;
        }
      }
      .modal-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        span {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
  }
  } 

  
}
@media (max-width: 970px) {
  section.modal {
    background-color: rgba(0, 0, 0, 0.861);
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: end;
    z-index: 99999;
    aside.container-fluid {
      width: 50%;
      min-height: 100vh;
      background-color: white;
      position: relative;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .modal-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 30px;
          color: black;
        }
      }
      .modal-body {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        img {
          width: 80%;
        }
        p {
          width: 80%;
          font-size: 10px;
        }
      }
      .modal-bottom {
        display: flex;
        flex-direction: column;

      }
  }
  } 
  
}
@media (max-width: 650px) {
  section.modal {
    background-color: rgba(0, 0, 0, 0.861);
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: end;
    z-index: 99999;
    aside.container-fluid {
      width: 70%;
      min-height: 100vh;
      background-color: white;
      position: relative;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .modal-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 30px;
          color: black;
        }
      }
      .modal-body {
        width: 100%;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        img {
          width: 80%;
        }
        p {
          width: 80%;
          font-size: 10px;
        }
      }
      .modal-bottom {
        display: flex;
        flex-direction: column;

      }
  }
  } 
}